body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #2c3e50;
    color: white;
    display: flex;
    flex-direction: column;
    height: 100vh; /* Tüm ekran boyu */
}

.header {
    text-align: center;
    padding: 10px;
    background-color: #1a252f;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
    z-index: 1000;
}

#map {
    width: 100%;
    height: 100%; /* Kalan tüm alanı kapla */
    background-color: #ddd; /* Harita yüklenmezse gri görünür */
}
